<form class="form-horizontal">
    <div>
        <label class="" for="text">Question</label>
    </div>
    <div>
        <textarea ng-model="text" id="text" name="text" rows="5" placeholder="Enter your question"></textarea>
    </div>
    <div>&nbsp;</div>
    <div>
        <label for="postedBy">Add your name</label>
    </div>      
    <div>
        <input ng-model="postedBy" type="password" id="postedBy" name="postedBy" placeholder="Enter your name">
    </div>
    <div>
        &nbsp;
    </div>
    <div>
        <button type="submit" class="btn btn-primary btn-large">Ask!</button>
        <a href="/" type="submit" class="btn btn-info btn-large">Go Back</a>
    </div>
</form>